version: 2
updates:
# for GitHub actions
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  groups:
    actions:
      patterns:
        - "*"

# for pinned Python packages
- package-ecosystem: "pip"
  directory: "/"
  schedule:
    interval: "weekly"    
