# use https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
# to exclude generated and docs from being included in language stats
# exclude obsolete code
src/obsolete/* linguist-documentation
# exclude some documentation
website/html_root/** linguist-documentation
website/reference/** linguist-documentation
# exclude generated HTML on gh-pages
*.html  linguist-generated
popdata/** linguist-generated
docs/** linguist-generated
_static/** linguist-generated
# also exclude certain files from the zip archive
# FIXME: for directories, need two patterns, one for the contents, one
# for the directory itself
.gitattributes export-ignore
.pre-commit-config.yaml export-ignore
/.github export-ignore
/.github/** export-ignore
/website export-ignore
/website/** export-ignore
# don't distribute the vendor-binaries
/vendor-binaries export-ignore
/vendor-binaries/** export-ignore
# not part of the software
/data export-ignore
/data/** export-ignore
/src/obsolete export-ignore
/src/obsolete/** export-ignore
