include ChangeLog
include AUTHORS
include INSTALL
include COPYING
include VERSION
include pypop.py
include MANIFEST.in
include common.xsl
include text.xsl
include html.xsl
include config.ini
include SWIG/*.i
include emhaplofreq/*.h
include emhaplofreq/Makefile
include gthwe/*.h
include gthwe/Makefile
include gthwe/README.1