name: Build ARM64 PyPop

on:
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on buildjet-2vcpu-ubuntu-2204-arm
    runs-on: buildjet-2vcpu-ubuntu-2204-arm
    steps:
      - uses: actions/checkout@v6
      - uses: buildjet/setup-python@v5
       # with:
          # python-version: '3.10.11'
      - name: Build wheel
        run: |
          apt install swig libgsl-dev
          python -m pip install --upgrade pip
          python -m pip install build pytest
          python -m build
      - name: Test with pytest
        run: |
          pip install --only-binary :all: dist/pypop_genomics*.whl
          pytest -s -v tests --runslow
      - uses: actions/upload-artifact@v6
        with:
          path: dist/*
